.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
.background-image {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 50vw; */
  /* height: auto; */
  /* opacity: 0; */
}

.background-image.left {
  z-index: 1;
}

.background-image.right {
  z-index: 2;
}

.sun {
  position: relative;
  z-index: 3;
}

.moon {
  position: relative;
  z-index: 4;
}

.chimp {
  position: relative;
  z-index: 1;
}

.laserman {
  position: relative;
  z-index: 6;
}

.evolve {
  position: relative;
  z-index: 7;
}
